<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in Proxy</title>

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />

</head>
<body>

<centered>
    <nav class="navbar navbar-inverse" style="color: ghostwhite; text-align: center">
           <h4> Cryptonote Proxy - Sign in </h4>
    </nav>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4" style="margin-top: 50px">
        <%if(messages){%>
        <div class="alert alert-danger">
            <%=messages%>
        </div>
        <% } %>
        <div class="alert alert-info">
            Input your coinstash provided credentials
        </div>

        <form action="/login" method="post" class="form-group well">
            <div>
                <label>Username:</label>
                <input type="text" name="username" class="form-control"/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password" class="form-control"/>
            </div>
            <div>
                <input class="btn btn-primary" style="margin-top: 10px; width: 100%" type="submit" value="Log In"/>
            </div>
        </form>
    </div>
    <div class="col-sm-4">
    </div>
</centered>

</body>
</html>